body{
    padding:80px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}
#transaction-area{
    display: none;
    padding: 0px 0px;
}

.status{
    padding: 30px;
    color: white;
    margin: 5px 20px;
    border-radius: 15px;
    
}

.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}